<a href="https://colab.research.google.com/github/faisalfaturohman/Clasisfication/blob/main/Tugas_Klasifikasi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

*Data Science Course - Telkom Digital Talent Incubator*

> 


Faisal Faturohman

> 


DS 0110


---

# **Classification**

Pada proses klasifikasi ini saya menggunakan *dataset* dari (https://www.kaggle.com/janiobachmann/bank-marketing-dataset). *Dataset* tersebut berisi tentang data diri *customer* bank seperti umur, pekerjaan, status pernikahan dan pendidikan. Dari data yang ada dibutuhkan untuk menentukan strategi agar proses marketing menjadi lebih efektif

Data Bank berisi:
1.   Age (umur) : angka (numeric)
2.   Job : Jenis pekerjaan (Categorical : 'admin.', 'blue-collar', 'entrepreneur'    'housemaid', 'management', 'retired', 'self-employed', 'services', 'student', 'technician', 'unemployed', 'unknown')
3.   Marital : status pernikahan (Categorical : 'divorced', 'married', 'single', 'unknown' ; note: 'divorced' means divorced or widowed)
4.   Education (Categorical : 'Secondary', 'Tertiary', 'primary', 'unknown')
5.   Default : mempunyai credit secara default? (Yes, No)
6.   Housing : Mempunyai housing loan? (Yes, No)
7.   Loan : Mempunyai personal loan? (Yes, No)
8.   contact : komunikasi menggunakan apa? (categorical: 'cellular','telephone', 'unknown')
9.   Day : Pada tanggal berapa terakhir berkomunikasi? (numeric)
10.   Month : Pada bulan apa terakhir kontak? (Categorical : 'may', 'aug', 'jul', 'jun', 'nov')
11.   Duration : durasi kontak terakhir, dalam detik (numerik). Catatan penting: atribut ini sangat mempengaruhi target keluaran (misalnya, jika durasi = 0 maka y = 'tidak'). Namun, durasinya tidak diketahui sebelum panggilan dilakukan. Juga, setelah panggilan berakhir, y jelas diketahui. Dengan demikian, input ini hanya boleh dimasukkan untuk tujuan benchmark dan harus dibuang jika tujuannya adalah untuk memiliki model prediksi yang realistis.
12.   Campaign: jumlah kontak yang dilakukan selama campaign ini dan untuk klien ini (numerik, termasuk kontak terakhir)
13.   Pdays : jumlah hari yang berlalu setelah klien terakhir dihubungi dari campaign sebelumnya (numerik; 999 berarti klien sebelumnya tidak dihubungi)
14.   Previous : jumlah kontak yang dilakukan sebelum campaign ini dan untuk klien ini (numerik)
15.   Poutcome : hasil dari campaign pemasaran sebelumnya (kategori: 'failure','nonexistent','success')

Pada tahap terakhir kita akan memprediksi apakah customer akan melakukan deposit? (yes, no)

Import Libraries

In [110]:
# Import Library
import pandas as pd
from sklearn import metrics
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
import numpy as np
from sklearn.metrics import confusion_matrix, classification_report

Import Raw Dataset

In [124]:
# Import Data ke Google Colab dari Github
bank = pd.read_csv('https://raw.githubusercontent.com/faisalfaturohman/Clasisfication/main/bank.csv', sep = ',')
bank

# Menampilkan data yang ada 
bank.head()

   age         job  marital  education  ... pdays  previous poutcome deposit
0   59      admin.  married  secondary  ...    -1         0  unknown     yes
1   56      admin.  married  secondary  ...    -1         0  unknown     yes
2   41  technician  married  secondary  ...    -1         0  unknown     yes
3   55    services  married  secondary  ...    -1         0  unknown     yes
4   54      admin.  married   tertiary  ...    -1         0  unknown     yes

[5 rows x 17 columns]

In [125]:
# Print info dari dataset
bank.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [126]:
# Prints Descriptive Statististika
bank.describe().transpose()

            count         mean          std  ...    50%      75%      max
age       11162.0    41.231948    11.913369  ...   39.0    49.00     95.0
balance   11162.0  1528.538524  3225.413326  ...  550.0  1708.00  81204.0
day       11162.0    15.658036     8.420740  ...   15.0    22.00     31.0
duration  11162.0   371.993818   347.128386  ...  255.0   496.00   3881.0
campaign  11162.0     2.508421     2.722077  ...    2.0     3.00     63.0
pdays     11162.0    51.330407   108.758282  ...   -1.0    20.75    854.0
previous  11162.0     0.832557     2.292007  ...    0.0     1.00     58.0

[7 rows x 8 columns]

Data Preprocessing

Mengecek Missing Values

In [127]:
# Check for Missing Values
bank.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [128]:
for col in bank.select_dtypes(include='object').columns:
    print(col)
    print(bank[col].unique())

job
['admin.' 'technician' 'services' 'management' 'retired' 'blue-collar'
 'unemployed' 'entrepreneur' 'housemaid' 'unknown' 'self-employed'
 'student']
marital
['married' 'single' 'divorced']
education
['secondary' 'tertiary' 'primary' 'unknown']
default
['no' 'yes']
housing
['yes' 'no']
loan
['no' 'yes']
contact
['unknown' 'cellular' 'telephone']
month
['may' 'jun' 'jul' 'aug' 'oct' 'nov' 'dec' 'jan' 'feb' 'mar' 'apr' 'sep']
poutcome
['unknown' 'other' 'failure' 'success']
deposit
['yes' 'no']

In [129]:
#Mengecek Balance pada kelas
bank.deposit.value_counts()/bank.deposit.count()

no     0.52616
yes    0.47384
Name: deposit, dtype: float64

Encode data yang berjenis categorical agar bisa dipahami oleh sistem

In [117]:
#Import Module
from sklearn.preprocessing import OneHotEncoder

# Encoder
encoder = OneHotEncoder(sparse=False)

# Encode Categorical Data
bank_encoded = pd.DataFrame(encoder.fit_transform(bank[['job', 'marital', 'education', 'default', 'housing', 'loan']]))
bank_encoded.columns = encoder.get_feature_names(['job', 'marital', 'education', 'default', 'housing', 'loan'])

# Replace Categotical Data with Encoded Data
bank.drop(['job', 'marital', 'education', 'default', 'housing', 'loan'] ,axis=1, inplace=True)
bank_encoded= pd.concat([bank, bank_encoded], axis=1)

# Show Encoded Dataframe
bank_encoded

       age  balance   contact  day  ... housing_no  housing_yes  loan_no  loan_yes
0       59     2343   unknown    5  ...        0.0          1.0      1.0       0.0
1       56       45   unknown    5  ...        1.0          0.0      1.0       0.0
2       41     1270   unknown    5  ...        0.0          1.0      1.0       0.0
3       55     2476   unknown    5  ...        0.0          1.0      1.0       0.0
4       54      184   unknown    5  ...        1.0          0.0      1.0       0.0
...    ...      ...       ...  ...  ...        ...          ...      ...       ...
11157   33        1  cellular   20  ...        0.0          1.0      1.0       0.0
11158   39      733   unknown   16  ...        1.0          0.0      1.0       0.0
11159   32       29  cellular   19  ...        1.0          0.0      1.0       0.0
11160   43        0  cellular    8  ...        1.0          0.0      0.0       1.0
11161   34        0  cellular    9  ...        1.0          0.0      1.0       0.0

[11162 rows x 36 columns]

Set Feature and Target

In [130]:
#encoding target label
from sklearn.preprocessing import LabelEncoder
LE=LabelEncoder()
bank_encoded['deposit']=LE.fit_transform(bank_encoded.deposit.values)

#encoding categorical features
bank_encoded=pd.get_dummies(bank_encoded)
bank_encoded

       age  balance  day  ...  poutcome_other  poutcome_success  poutcome_unknown
0       59     2343    5  ...               0                 0                 1
1       56       45    5  ...               0                 0                 1
2       41     1270    5  ...               0                 0                 1
3       55     2476    5  ...               0                 0                 1
4       54      184    5  ...               0                 0                 1
...    ...      ...  ...  ...             ...               ...               ...
11157   33        1   20  ...               0                 0                 1
11158   39      733   16  ...               0                 0                 1
11159   32       29   19  ...               0                 0                 1
11160   43        0    8  ...               0                 0                 0
11161   34        0    9  ...               0                 0                 1

[11162 rows x 52 columns]

Setelah variabel di encode menjadi nilai yang bisa diolah lalu memilih feature dan target

In [131]:
# Select Features
feature = bank_encoded.drop(['balance', 'duration', 'deposit'], axis=1)
feature

       age  day  campaign  ...  poutcome_other  poutcome_success  poutcome_unknown
0       59    5         1  ...               0                 0                 1
1       56    5         1  ...               0                 0                 1
2       41    5         1  ...               0                 0                 1
3       55    5         1  ...               0                 0                 1
4       54    5         2  ...               0                 0                 1
...    ...  ...       ...  ...             ...               ...               ...
11157   33   20         1  ...               0                 0                 1
11158   39   16         4  ...               0                 0                 1
11159   32   19         2  ...               0                 0                 1
11160   43    8         2  ...               0                 0                 0
11161   34    9         1  ...               0                 0                 1

[11162 rows x 49 columns]

In [132]:
# Select Target
target = bank['deposit']
target

0        yes
1        yes
2        yes
3        yes
4        yes
        ...
11157     no
11158     no
11159     no
11160     no
11161     no
Name: deposit, Length: 11162, dtype: object

Tentukan berapa Training data and Testing Data

In [133]:
# Set Training and Testing Data (90:10) dimana data tes hanya digunakan 10 % dari total data
from sklearn.model_selection import train_test_split, cross_val_score
X_train, X_test, y_train, y_test  = train_test_split(feature ,target, shuffle = True, test_size=0.1, random_state=1)

# Show the Training and Testing Data
print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(10045, 49)
(1117, 49)
(10045,)
(1117,)

In [134]:
#Menunjukan data tes
X_test

      age  day  campaign  ...  poutcome_other  poutcome_success  poutcome_unknown
8422   31    5         1  ...               0                 0                 1
9226   43   20         2  ...               0                 0                 1
8162   26   14         2  ...               0                 0                 1
4337   39    3         1  ...               0                 1                 0
2438   40    6         2  ...               0                 1                 0
...   ...  ...       ...  ...             ...               ...               ...
6685   51   14         1  ...               0                 0                 1
473    56   16         1  ...               0                 0                 1
181    35   30         1  ...               0                 0                 1
2917   33   12         1  ...               0                 0                 0
45     35   13         2  ...               0                 0                 1

[1117 rows x 49 columns]

#### ***Naive Bayes***

Modeling Naive Bayes

Naive Bayes Classifier merupakan sebuah metoda klasifikasi yang berakar pada teorema Bayes. Metode pengklasifikasian dg menggunakan metode probabilitas dan statistik yg dikemukakan oleh ilmuwan Inggris Thomas Bayes, yaitu memprediksi peluang di masa depan berdasarkan pengalaman di masa sebelumnya sehingga dikenal sebagai Teorema Bayes. Ciri utama dr Naive Bayes Classifier ini adalah asumsi yg sangat kuat (naif) akan independensi dari masing-masing kondisi / kejadian.

In [135]:
# Import Module
from sklearn.naive_bayes import GaussianNB 

# Modeling Naive Bayes Classifier
gnb = GaussianNB()
gnb.fit(X_train, y_train)

# Prediksi dengan menggunakan data tes tanpa label
y_pred_gnb= gnb.predict(X_test)

In [136]:
# Menunjukan Confussion Matrix
cm_gnb = metrics.confusion_matrix(y_test, y_pred_gnb)
cm_gnb

array([[485,  89],
       [270, 273]])

In [137]:
# Menunjukan Accuracy, Precision, Recall
acc_gnb = metrics.accuracy_score(y_test, y_pred_gnb)
prec_gnb = metrics.precision_score(y_test, y_pred_gnb)
rec_gnb = metrics.recall_score(y_test, y_pred_gnb)
f1_gnb = metrics.f1_score(y_test, y_pred_gnb)
kappa_gnb = metrics.cohen_kappa_score(y_test, y_pred_gnb)

print("Accuracy:", acc_gnb)
print("Precision:", prec_gnb)
print("Recall:", rec_gnb)
print("F1 Score:", f1_gnb)
print("Cohens Kappa Score:", kappa_gnb)

ValueError: ignored

In [ ]:
# Menunjukan ROC Curve 
y_pred_gnb_proba = gnb.predict_proba(X_test)[::,1]
fprgnb, tprgnb, _ = metrics.roc_curve(y_test,  y_pred_gnb_proba)
aucgnb = metrics.roc_auc_score(y_test, y_pred_gnb_proba)
plt.plot(fprgnb,tprgnb,label="Naive Bayes, auc="+str(aucgnb))
plt.title('ROC Curve - Naive Bayes')
plt.xlabel('false positive rate') 
plt.ylabel('true positive rate')
plt.legend(loc=4)
plt.show()

# *KNN*

K-Nearest Neighbor (KNN) adalah algoritma berbasis instance dan nonparametrik. Nonparametrik karena tidak memiliki jumlah parameter yang ditentukan sebelum pelatihan dan berbasis instance karena ia mengingat set data pelatihan. Ini juga dianggap sebagai pembelajaran yang malas karena proses pembelajaran ini.

KNN bekerja untuk menemukan tetangga terdekat K dari sampel baru, berdasarkan metrik jarak (biasanya jarak Euclidean), dan membuat prediksi. Dalam masalah klasifikasi, poin baru dapat diklasifikasikan berdasarkan suara terbanyak dan dalam masalah regresi prediksi dapat didasarkan pada rata-rata k-tetangga.

Pemilihan parameter K penting karena nilai k yang kecil dapat menyebabkan overfitting.

Langsung di fit kan dengan model KNN tersebut akan tetapi pertama kali kita mencari nilai K optimal.

In [ ]:
from sklearn import model_selection
from sklearn.neighbors import KNeighborsClassifier

#Neighbors
neighbors = np.arange(0,25)

#Create empty list that will hold cv scores
cv_scores = []

#Perform 10-fold cross validation on training set for odd values of k:
for k in neighbors:
    k_value = k+1
    knn = KNeighborsClassifier(n_neighbors = k_value, weights='uniform', p=2, metric='euclidean')
    kfold = model_selection.KFold(n_splits=10, random_state=123)
    scores = model_selection.cross_val_score(knn, X_train, y_train, cv=kfold, scoring='accuracy')
    cv_scores.append(scores.mean()*100)
    print("k=%d %0.2f (+/- %0.2f)" % (k_value, scores.mean()*100, scores.std()*100))

optimal_k = neighbors[cv_scores.index(max(cv_scores))]
print ("The optimal number of neighbors is %d with %0.1f%%" % (optimal_k, cv_scores[optimal_k]))

plt.plot(neighbors, cv_scores)
plt.xlabel('Number of Neighbors K')
plt.ylabel('Train Accuracy')
plt.show()

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.model_selection import KFold

#Modeling KNN
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)
knn = KNeighborsClassifier(n_neighbors=14)
knn.fit(X_train, y_train)

#Prediksi dengan metode KNN
knnpred = knn.predict(X_test)

print(confusion_matrix(y_test, knnpred))
print(round(accuracy_score(y_test, knnpred),2)*100)
KNNCV = (cross_val_score(knn, X_train, y_train, cv=k_fold, n_jobs=1, scoring = 'accuracy').mean())

In [ ]:
# Menunjukan Accuracy, Precision, Recall
acc_knn = metrics.accuracy_score(y_test, knnpred)
prec_knn = metrics.precision_score(y_test, knnpred)
rec_knn = metrics.recall_score(y_test, knnpred)
f1_knn = metrics.f1_score(y_test, knnpred)
kappa_knn = metrics.cohen_kappa_score(y_test, knnpred)

print("Accuracy:", acc_knn)
print("Precision:", prec_knn)
print("Recall:", rec_knn)
print("F1 Score:", f1_knn)
print("Cohens Kappa Score:", kappa_knn)

In [ ]:
# Menunjukan kurva ROC 
y_pred_knn_proba = knn.predict_proba(X_test)[::,1]
fprknn, tprknn, _ = metrics.roc_curve(y_test,  y_pred_knn_proba)
aucknn = metrics.roc_auc_score(y_test, y_pred_knn_proba)
plt.plot(fprknn,tprknn,label="KNN, auc="+str(aucknn))
plt.title('ROC Curve - KNN')
plt.xlabel('false positive rate') 
plt.ylabel('true positive rate')
plt.legend(loc=4)
plt.show()

#### ***Model Comparison***

In [ ]:
# Perbandingan Performa Model
print("Naive Bayes Accuracy =", acc_gnb)
print("Naive Bayes Precision =", prec_gnb)
print("Naive Bayes Recall =", rec_gnb)
print("Naive Bayes F1-Score =", f1_gnb)
print("_______________________")
print("KNN Accuracy =",acc_knn)
print("KNN Precision =",prec_knn)
print("KNN Recall =",rec_knn)
print("KNN F1-Score =", f1_knn)

Dilihat dari perbandingan

In [ ]:
# Comparing Kurva ROC 
plt.plot(fprknn,tprknn,label="KNN, auc="+str(aucknn))
plt.plot(fprgnb,tprgnb,label="Naive Bayes, auc="+str(aucgnb))
plt.title('ROC Curve')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.legend(loc=4)
plt.show()

In [ ]:
# Create Datafame Contains Fature and Result of prediction
df_compare = X_test.copy()
df_compare['ActualClass'] = y_test
df_compare['KNN'] = knnpred
df_compare['NaiveBayes'] = y_pred_gnb

In [ ]:
df_compare.head()